.DateLocationForm {
    margin-top: 11rem;
    background: url('/src/assets/FormRegistration/bg2.png');
    font-size: 14px;

    & h4 {
        margin-bottom: 2rem;
        text-align: center;
    }

    & input[placeholder] {
        font-size: 14px;
    }

    & .DateLocationForm-submitButton {
        display: flex;
        justify-content: center;
    }
    
}

.form__group-location {
    display: flex; 
    margin-bottom: .5rem;
    
    & input {
        padding-left: 16px;
        height: 55px;
        border: 1px rgb(204, 204, 204) solid; 
        width: 100%; 
        background-color: transparent;
        
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.form__group-time {
    position: relative;
    height: 55px;
        display: flex;
        align-items: center;
        width: 100%; 

        & div {
            position: absolute;
            right: 20px;
            z-index: 5; 
            color: gray;
        }

        & span {
            position: absolute; 
            left: 20px;
            font-size: 14px;
        }
     
        & select {
            width: 100%; 
            height: 100%;
            z-index: 20;
        }
}

.form__group-row {
    display: flex;
    gap: 10px; 
    
    & > div {
        border: 1px rgb(204, 204, 204) solid; 
        display: flex;
        width: 50%; 
        
        &:nth-child(2) {
            margin-bottom: .5rem;
        }
    }
}

.form__group-date {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 55px;
}


.MuiFormControl-root {
    display: flex; 
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.MuiInputBase-root {
    border: none;
    outline: none;
    box-sizing: border-box;

    & input {
        text-align: start;
        padding: 10px 16px; 
        font-size: 14px;
    }

    & fieldset {
        border: none;
        display: flex;
    }
    
    &:hover {
      border-color: #388e3c;
    }
    
    &.Mui-focused {
      border-color: #2e7d32;
    }
  }


.ss-remove {
    display: none; 
}


.residency {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    border: 1px rgb(204, 204, 204) solid; 
    height: 55px; 
    z-index: 10; 

    .left {
        display: flex;
        align-items: center;
        padding-left: 15px;

        & label {
            padding: 0 10px;
        }
    }

    .right {
        position: absolute;
        right: 5px; 
        margin: 0 5px;
    }

    & select{
        border: none; 
        border: 0; 
        background-color: transparent;
        z-index: 20; 
        width: 100%; 
        height: 100%; 
        position: absolute; 

        select:focus {
            outline:none;
        }
    }

    & option {
        border: none; 
        border: 0; 
        background-color: transparent;
    }
}

.fullscreen-view {
    display: none; 
}

.form__group-sameLocationButton, .form__group-age .fullscreen-view{
    display: none; 
}

.discount {
    width: 40%; 
    height: 55px;
    display: flex;
    align-items: center;
    display: none; 
    position: relative;
    border: 1px rgb(204, 204, 204) solid; 
   
    & input {
        width: 100%; 
        font-size: 14px;
        height: 55px;
        border: none;
        outline: none; 
    }
    & .left {
        width: 100%; 
        display: flex;
        position: absolute;
        align-items: center;
        left: 15px;

        & label {
            padding-left: 10px;
        }
    }

    .right {
        position: absolute;
        right: 5px; 
        margin: 0 5px;
    }
}



@media (min-width: 768px){
    .form__group-fs {
        width: 100%; 
       
        & .form__group-age {
            height: 55px;
            width:  20%; 
            border: 1px rgb(204, 204, 204) solid; 

            & .fullscreen-view {
                font-size: 14px;
                position: relative;
                display: flex; 
                justify-content: center;
                align-items: center;
                height: 100%; 
                width: 100%; 
                z-index: 10; 
              
                & .left-icon {
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                    
                    label {
                        padding: 0 10px;
                    }
                }
    
                & .right-icon {
                    position: absolute;
                    right: 5px;
                    margin: 0 5px;
                }
    
                & select {
                    width: 100%;    
                    height: 100%;   
                    
                    z-index: 20; 
                }
            }
        }
    }
    
    .form__group-fs {
        display: flex;
    }

    .form__group-sameLocationButton, .form__group-age .desktop-view{
        display: none; 
    }

    .form__group-location {
        width: 50%; 
    }

    .form__group-row{
        width: 50%; 
        gap: 0; 

        & > div {
            width: 50%; 
        }
    }

    .residency {
        width: 40%; 
    }

    .discount { 
        display: flex;
        
        & input {
            background-color: transparent;
        }
         

    }

    

   

   

    //Small Screen option needs to be removed small screen.
    .ss-remove, .form__group-age .fullscreen-view {
        display: initial; 
}



}



