.benefits {
    margin-top: 5rem;
}

.benefits__container {
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.benefits__content-1 {
    max-width: 33rem;
    margin: 0 auto; 

    & h1 {
        margin: 1rem 0 2rem;  
    }

    & a {
        margin-top: 2rem;
        margin-bottom: 5rem;
        display: inline-block;
    }
}

.benefits__content-2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
    max-width: 23rem;
    gap: 3rem;

    & h4 {
        padding-bottom: 1rem;
        font-weight: 900;
    }
}
    
.benefits__panel {
    display: flex; 
    align-items: center;

    & img {
        height: auto;
        max-width: 3rem;
        object-fit: cover;
        margin: 1rem;
    }
}


@media (min-width: 800px) {
    .benefits__content-1 {
        padding: 0 1.5rem;
    }
    
    .benefits__panel img {
        height: auto;
        max-width: 3rem;
        object-fit: cover;
        margin: 0;
        margin-right: 2rem;
        margin-bottom: 1.7rem;
    }
    
      .benefits__panel__text {
        max-width: 20rem;
      }
}

  
@media (min-width: 1033px) {
    .benefits__container {
        flex-direction: row;
        height: 100%; 
        justify-content: space-between;
    }
    
    .benefits__panel img {
        max-height: 3.5rem;
        margin-top: 2rem;
        margin-right: 0;
    }
}














