.hero { 
    padding-top: 7rem;
}

.hero__content {
    display: flex;
    justify-content: center;
}

.hero__content-text {
    text-align: center;

    & h1 {
        margin: 1rem 0 1.5rem;
        line-height: 4rem;
        font-size: 3.4rem;
        
        & span {
            color: orange; 
        }
    }
}

.hero__content-buttons{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    
    & a {
        margin-bottom: 1rem;
    }
    & a.button{
        display: block;
        width: 15rem;
    }
   
}

.hero__content-image, .hero__background {
    display: none;
}


@media (min-width: 1032px) {

    
    .hero__content-text, 
     .hero__content-image {
        flex: 1; 
     }

    


    .hero__content-text {
        text-align: initial;
        z-index: 100; 
    }

    .hero__content-buttons {
    display: flex; 
    flex-direction: row;
    
    
        & a.button {
        display: block;
        width: 12rem;
        margin-right: 1rem;
        margin-top: 2rem; 
    }
    }

    

    .hero__content-image {
    display: initial; 
    height: 70vh;
    max-width: 50rem;
    position: relative;
    right: 0;
    
    & img:nth-child(1){
        position: absolute;
        top: 0; 
        right: 0;
        width: 633px; 
        height: auto;
        
        z-index: 50;
    }

   
    }

    .hero__background {
        display: initial;
        position: absolute;
        right: 0; 
        top: 0; 
        z-index: 3;
    }


}
